<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jdxy.wyl.baseandroidx">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"
        tools:ignore="ProtectedPermissions" />
    <application
        android:allowBackup="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".base.BaseSettingActivity" />
        <activity android:name=".base.LzSettingActivity" />
        <activity android:name=".base.BaseHosActivity" />
        <activity android:name=".base.BasePhpActivity" />
        <activity android:name=".base.BaseMediaActivity" />
        <activity
            android:name=".crash.activity.ErrorActivity"
            android:process=":error_activity" />

        <provider
            android:name=".crash.provider.CrashInitProvider"
            android:authorities="${applicationId}.customactivityoncrashinitprovider"
            android:exported="false"
            android:initOrder="101" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.updatefileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".base.BaseActivity" />

        <meta-data
            android:name="design_width_in_dp"
            android:value="540" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="960" />
    </application>

</manifest>